
CoopDrivingSim/CoopDrivingSim.suo
CoopDrivingSim/CoopDrivingSim/bin/*
CoopDrivingSim/CoopDrivingSim/obj/x86/*
CoopDrivingSim/CoopDrivingSim/Content/obj/x86/Debug/*
CoopDrivingSim/CoopDrivingSim/CoopDrivingSim.csproj.Debug.cachefile